html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the start */
    width: 100%;
    min-height: 100vh; /* Full viewport height */
    background-color: #f3f3f3; /* Example background color */
/*    padding: 20px;  Margin for content */
    box-sizing: border-box;
	margin-bottom: 5px;
}

.content {
    max-width: 600px; /* Max width for content */
/*    margin: 0 auto 10px;  Center content horizontally, add space at the bottom */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content-text {
    /* Add styles for your text content here */
}

.content img {
    width: 100%;
    height: auto;
    max-height: calc(100vh - 40px - var(--text-height)); /* Adjust based on text height and padding */
    margin-top: 10px; /* Space between text and image */
	object-fit: contain; /* Maintain aspect ratio */
}

:root {
    --text-height: 150px; /* Adjust this variable based on average text height */
}

.action-bar-container {
    position: fixed;
    bottom: 0;
    padding: 10px;
    text-align: center;
    width: 100%; /* Full width */
    box-sizing: border-box;
}

.action-bar {
    background-color: green; /* Example color */
    width: 100%; /* Full width */
    max-width: 600px; /* Same as the max-width of .page */
    box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}

.action-bar2 {
    position: fixed;
    bottom: 0;
    left: 50%; /* Center relative to the viewport */
    transform: translateX(-50%); /* Adjust for true centering */
    background-color: #007bff; /* Example color */
    padding: 10px;
    text-align: center;
    width: 100%; /* Full width */
    max-width: 600px; /* Same as the max-width of .page */
    box-sizing: border-box;
}

.action-bar button {
    padding: 10px 20px;
    background-color: #ffc107; /* Example button color */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
}

@media only screen and (min-width: 600px) {
    .page {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}