/* CSS Document */
html, body {
  /*  margin: 0;*/
  /*  padding: 0;*/
  margin-top: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
p {
  font-size: 16px;
}
.content {
  max-width: 600px;
  background-color: blue;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  padding-top: 1px;
  padding: 15px;
  box-sizing: border-box;
}
.content:not(:last-child) {
  border-bottom: 5px solid white;
}
.content-image {
  display: block;
  margin: 0 auto;
}
.header-bar {
  position: fixed;
  margin-top: auto;
  top: 0px;
  background-color: yellow;
  max-width: 600px;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  display: flex;
  align-items: center;
}
.header-nav {
	text-align: left;
}
.header-text {
	flex: 1;
	text-align: center;
}
.action-bar {
  position: fixed;
  margin-top: auto;
  bottom: 0px;
  background-color: green;
  max-width: 600px;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  display: flex;
  align-items: center;
}
.action-bar-usp {
  flex: 1;
  text-align: center;
}
.action-bar-button {
  text-align: right;
}