<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Sensual Bachata Learning Lab</title>
<!-- Fix before going live! -->
<link rel="stylesheet" type="text/css" href="css/main.css?23d5f55fddc6f4"/>

<!-- Google Tag Manager --> 
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PWHCGZHQ');</script> 
<!-- End Google Tag Manager --> 

<!-- Remove these before going live. -->
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>

<!-- Start cookieyes banner --> 
<!-- <script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/0d8a0989f6fa4f47a0690306/script.js"></script>  --> 
<!-- End cookieyes banner --> 

<!-- Termly --> 
<!--<script
  type="text/javascript"
  src="https://app.termly.io/resource-blocker/bdae4e4f-4c9e-4e2c-85fe-d9cfaf591a1f?autoBlock=on"
></script>--> 
<!-- End Termly -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<script type="application/javascript">
document.addEventListener('DOMContentLoaded', function() {
	syncAllElements();
});

window.onresize = function() {
    syncAllElements();
};

function syncAllElements() {
//	syncElementWidth('.header-nav', '.header-placeholder');
//	syncElementWidth('.action-bar-button', '.action-bar-placeholder');
	
	// Sync header height to top padding.
	var headerBarHeight = document.querySelector('.header-bar').offsetHeight;
	var footerBarHeight = document.querySelector('.action-bar').offsetHeight;
	var contentDivs = document.querySelectorAll('.content');
	
	contentDivs.forEach(contentDiv => {
		contentDiv.style.paddingTop = headerBarHeight + 'px';
		contentDiv.style.paddingBottom = footerBarHeight + 'px';
	});
	
	var siteInfoDivs = document.querySelectorAll('.site-info');
	
	siteInfoDivs.forEach(siteInfoDiv => {
		siteInfoDiv.style.paddingBottom = footerBarHeight + 'px';
	});

}	
	
function syncElementWidth(srcElementCss, targetElementCss) {
    var child1 = document.querySelector(srcElementCss);
    var placeholder = document.querySelector(targetElementCss);

    placeholder.style.width = child1.offsetWidth + 'px';
}
</script>
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PWHCGZHQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<article class="content" id="home">
  <h1>Step into Passion: Begin Your Sensual Bachata Journey</h1>
  <p>Join Our Sensual Bachata Classes!
  <ul>
    <li>Every Sunday 4 to 5 PM (*)</li>
    <li>Ripley-Grier (Midtown NYC)</li>
    <li>No partner or prior experience required!</li>
  </ul>
  <div class="events-container"></div>
  <p>On the dance floor, time changes. The music starts, and there’s a shift, simple and raw. Your body knows what to do. It’s not about thinking; it’s about feeling, about the rhythm taking over. There’s you, there’s the music, and there’s the person you’re dancing with. Nothing else. In that dance, there’s a truth, a kind of honesty you can’t find just anywhere. You move, you feel, and for a while, you're somewhere else, somewhere real.</p>
  <p><b>Turning Everyday People into Dancers – That's Our Focus.</b></p>
  <!--<p><strong>Benefit</strong>: Dance with Feeling: Uncover the joy and deep connection of Sensual Bachata in every step.</p>
  <p><strong>The difference</strong>: Unique Learning Method: Our innovative approach combines traditional dance techniques with neuroscience-based methods for a faster, more intuitive learning experience.</p>-->
  <p><a href="https://forms.gle/kyih4Ucr1Xqyjoby5">Stay Updated - Get notified about our free introductory classes!</a> </p>
  <div class="youtube-container">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/sxueZ37Orhg?si=Kyp8QK0JA8clRu0I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</article>
<article class="content" id="benefits">
  <h1>Benefits</h1>
  <h2>Unlock Your Creative Dance Expression</h2>
  <p>Dive into a world where dance mirrors life – vibrant, dynamic, uniquely yours. Our focus on technique encourages you to paint your own canvas of movement, celebrating individuality in every rhythm. Embrace the freedom to be authentically you on the dance floor.</p>
  <h2>Accelerate Your Dance Journey</h2>
  <p>Time is precious, and our innovative, neuroscience-backed approach respects that. Designed for rapid progression, our lessons enable you to master Sensual Bachata in record time. Ideal for the bustling pace of Manhattan life, our method ensures you see progress from day one.</p>
  <h2>Make New Friends</h2>
  <p>Step into our circle where every dancer is a friend you haven’t met yet. Beyond steps and music, find a place where connections flourish. Whether you're a local or new in town, the bachata community is a tapestry of diverse, welcoming faces, all united by the love of dance.</p>
  <div class="youtube-carousel1">
    <button class="youtube-carousel-prev">&lt;</button>
    <div class="carousel-item carousel-item-active">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/_b00Ybup_Xc?si=WBfwZmc_N021NzK4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="carousel-item">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ct5f4fKiuBg?si=2ZJ_zQiaCbP201xR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <button class="youtube-carousel-next">&gt;</button>
  </div>
</article>
<article class="content" id="philosophy">
  <h1>Teaching Philosophy</h1>
  <h2>Technique Over Choreography</h2>
  <p>In our Sensual Bachata Learning Lab, the focus is on mastering dance techniques rather than memorizing choreography. We believe in building a strong foundation that enables you to express yourself freely on the dance floor. This approach ensures that you develop essential skills for improvisation and true artistry in your dancing.</p>
  <h2>Neuroscience-Backed Learning</h2>
  <p>Our unique teaching method is rooted in neuroscience, emphasizing external focus and implicit learning. This approach speeds up your learning process, ensuring more intuitive and fluid movement. You'll find your body and mind syncing more naturally with the music, making every dance a deeper, more enjoyable experience.</p>
  <h2>Embodying Dance: A Somatic Approach to Bachata</h2>
  <p>In the Sensual Bachata Learning Lab, we adopt a somatic approach to dance, emphasizing the integration of movement, music, and emotion. This holistic methodology focuses not just on teaching steps but on how your body feels and responds to the rhythm and emotional currents of bachata. We guide you to be attuned to your movements and the music, encouraging a deeper connection with your dance partner. It's about experiencing the dance from within, letting the music and emotions guide you, and finding harmony between you, your partner, and the beat. </p>
  <div class="youtube-container">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/zk7dtOOm1AM?si=BylkBg0mjS5Z_TU2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</article>
<article class="content" id="bachata">
  <h1>What is Sensual Bachata?</h1>
  <p>Sensual Bachata originated in the Dominican Republic and was reinvented in Spain. The popularity comes from the wide variety of bachata music because it's essentially Latin pop music. Unique aspects are the tap instead of a step on the fourth beat and sensual body movements: body waves, hip rolls, dips, and so on.</p>
  <p><b>As an improvised dance,</b> the leader invents a choreography in the moment. As the follower has to find out in the moment what to dance, the leading and following system is highly developed.</p>
  <p><b>As a Mergenue-based dance,</b> the dance comes alive through the hip, chest, and body movements. Moving the entire body is essential to dancing sensual bachata.</p>
  <p><b>As a Latin dance,</b> styling is pervasive. The dancers alter and add the movements to express their own aesthetics and to capture the music.</p>
  <div class="youtube-carousel2">
    <button class="youtube-carousel-prev">&lt;</button>
    <div class="carousel-item carousel-item-active">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/8R1ZHr15NjM?si=4fmUlmzegl-LHRNz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="carousel-item">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Q2M1Dl1oAE0?si=xduMYiAYiMsEWCKk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="carousel-item">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/d_-OiHT5FEQ?si=3VOE0wAT_BNCm1na" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="carousel-item">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/fbcNJcjiQ24?si=OArpjvwi7ZFhbv22" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="carousel-item">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/bks8MVU6n7o?si=Hajsj0j8mJHZOoGI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <button class="youtube-carousel-next">&gt;</button>
  </div>
</article>
<article class="content" id="first-class">
  <h1>What is the First Class Like?</h1>
  <p>Stepping into your first Sensual Bachata class can be both exciting and a little daunting. But don't worry, we're here to guide you through every beat and sway. Our classes are designed for beginners, ensuring a comfortable and enjoyable introduction to the world of dance.</p>
  <h2>What to Expect</h2>
  <p>
  <ul>
    <li><strong>Warm-up:</strong> Two songs of solo work that get you moving and also introduce new movement patterns.</li>
    <li><strong>A new technique:</strong> Each class is centered around introducing a new technique.</li>
    <li><strong>Real leading and following:</strong> Learn to lead and follow through varied move options, not just preset routines. Enhances social dance readiness.</li>
    <li><strong>Embrace Learning:</strong> Our studio is a space to experiment and learn from mistakes. We prioritize progress over perfection, encouraging you to explore and take risks to find your unique dance style.</li>
    <li><strong>Personalized Approach:</strong> Arrive early for a chance to chat with the instructor, allowing for a class experience tailored to your needs. Depending on class size, you might also receive a brief one-on-one dance assessment to fine-tune your learning journey.</li>
  </ul>
  </p>
  <div class="youtube-container">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/hJEc42IfRxg?si=ZrcKDbt6bMQvydDq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</article>
<article class="content" id="sign-up">
  <h1>Sign Up Today!</h1>
  <p>Joining our classes is easy:</p>
  <ol>
    <li><strong>Register:</strong> Simply click the Eventbrite link to secure your spot.</li>
    <li><strong>Stay Informed:</strong> Look out for an email on the day of the session for the exact studio location. Usually, we gather at Ripley-Grier, 520 8th Ave, but occasionally it's at a nearby Ripley-Grier location.</li>
    <li><strong>Dress Appropriately:</strong> Wear comfortable clothing that allows freedom of movement. Shoes are important - opt for ones with soles that turn easily, like sneakers, dance shoes, or heels (just make sure they’re strapped on securely. No flip-flops or rubber soles, please!)</li>
    <li><strong>Arrive Early:</strong> Plan to come 15 minutes before class. This will give you enough time to get through security, which can have long lines, and to locate the correct studio.</li>
    <li><strong>No Partner, No Problem:</strong> You don't need a partner to join, and beginners are highly encouraged to participate.</li>
    <li><strong>Final Sales:</strong> Please note all ticket sales are final. We try our best to accommodate refunds or reschedules if they are requested at least a day before. Early sign-ups are appreciated - it helps us book the right-sized studio. Last-minute registrations can lead to a crowded space, though we always strive for a comfortable experience for everyone.</li>
  </ol>
  <p>We're excited to have you on this journey of rhythm and connection. See you soon on the dance floor</p>
  <div class="youtube-container">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/5KmbaPkPvX4?si=2yXr1KUIjUd-d3HK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</article>
<article class="content" id="curriculum">
  <h1>Curriculum Overview</h1>
  <p>Our curriculum focuses on several key dimensions to transform you into a versatile dancer.</p>
  <ol>
    <li><strong>Leading Technique:</strong> Beginning with basic lead signals and progressing to nuanced, complex conversational leading adjusted to your partner.</li>
    <li><strong>Following Technique:</strong> Followers start by learning the basic rules, developing increasing responsivenes to create beautiful movements with styling injected.</li>
    <li><strong>Movement Technique:</strong> Dancers start by developing body coordination, then learning hip, sensual movements, and so on. The study of movement quality is continues forever because it underpins the ability to lead/follow and connect with the music.</li>
    <li><strong>Ear training/Musicality:</strong> Building a foundation of recognizing the beat, musical phases, and syncopation leads to higher level skills like matching the dance and music texture, underpinning the dance with contraction/relase</li>
    <li><strong>Sensual Bachata Vocabulary:</strong> The vocabulary are the common patterns like the basics, types of turns, types of body waves, and so on.</li>
    <li><strong>Choreography Development and Floorcraft:</strong> Specifically for leaders, this dimension hones the skill of crafting choreographies on the fly and adapting to the social dance floor's dynamic environment.</li>
  </ol>
  <div class="youtube-carousel3">
    <button class="youtube-carousel-prev">&lt;</button>
    <div class="carousel-item carousel-item-active">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/hFkwhVTEvW8?si=SQU5KTct7XTcPh8U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="carousel-item">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/DTv98fF8dEA?si=BrMKPvxoX8590wbf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="carousel-item">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/08DUc0UGHg0?si=kMPIQqU7XHeIMwtd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="carousel-item">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/oghCUDfNbhs?si=hazVWkp65vgKD9W1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <button class="youtube-carousel-next">&gt;</button>
  </div>
</article>
<article class="content" id="neuroscience">
  <h1>Neuroscience-Based Teaching</h1>
  <p>Since the publication of the Code of Terpsichore in 1830, dance has been taught in the way that you are most likely familiar with. The instructor wants a certain movement and tells you to move that way. You have probably realized that simply because someone logically explains you how to move can be far away from actually performing the move. Over the last two decades, neuroscience through rigorous studies and brain imaging developed an understanding about how we optimally learn movement/dance.</p>
  <p>
  <ol>
    <li><strong>Internal vs. external focus:</strong> Internal focus is when you think about the muscles and joints that you want to move. External focus is when you focus on the goal of your movement, your partner, or imagery. Think about driving down a windy mountain road. You can focus on your hands or get consumed in tracing the curves of the road. The latter will make your movements smooth, fluid, and precise because you allow the motor cortex to work out how to best employ your muscles.</li>
    <li><strong>Explicit vs implicit learning:</strong> Explicit learning happens when instruction specifies all the details of the movement. Implicit learning happens when instruction specifies a strategic goal guiding the student to acquire the movement details correctly without thinking about them.</li>
    <li><strong>Low vs. high bandwidth learning:</strong> Low bandwidth learning is repetition of the same movement. High bandwidth learning is variation of related movements. The motor cortext learns movement by making a plan and then evaluating the success. More variation provides the motor cortex with richer data to draw insights from.</li>
  </ol>
  </p>
  <!--<h1>Neuroscience-Based Teaching</h1>
  <p>Today, the standard in bachata dance instruction is still based on an instructor wanting a student to move in a certain way and telling the student to move in that way. Over the last two decades, two hundred scientific studies have shed light on how humans learn movement and dance best. Confirmed in many studies, small changes in teaching can increase learning by 50% and more significant changes can make students learn five times faster!</p>
	<p>
	<ol>
		<li><strong>Internal vs. external focus:</strong> Most people can walk into a dance studio perfectly fine. However, when they are asked to dance forward, left-right-left-right, they become stiff and get confused after every step on which foot to use next. What’s happening is cognitive interference. When you think about the body parts that you move (= internal focus), you interfere with the natural way the brain learns movement. Thus we use external focus like focusing on your partner, target of your movement, or imagery to allow the motor cortex to learn best.</li>
		<li><strong>Explicit vs implicit learning:</strong> The textbook example is how football players are taught to come to stop from running with weight in their heels. The explicit way is the coach explaining all the aspects of the right alignment. Players tend to drill this repeatedly and keep failing to keep the weight in their heels. The implicit way is to put a wood block on the grass and to ask the players to to a stop with their knees barely touching it. They tend to now stop right on the first try with every body part perfectly aligned even though, they are not told about it. Similarly in dance, it’s easy to overload students with multiple corrections when there are more effective, implicit ways to teach.</li>
		<li><strong>Low vs. high bandwidth learning:</strong> Commonly, dance instructions asks students to repeat the same movement many times in the hopes of improving. This is low bandwidth because the motor cortex only experiences a narrow band of movement. High bandwidth learning is to do a variation of the movement. The motor cortex get a wider sampling of neural feedback and can quicker develop better motor plans.</li>
	</ol></p>-->
  <div class="youtube-container">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ecduo-pZ7xE?si=b6xqm1guNh6aLrIP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</article>
<article class="content" id="learn-now">
  <h1>Learn Bachata Right Now!</h1>
  <p>Do you want to get a taste of dancing sensual bachata right now?</p>
  <p>Simply start the video below for a quick introduction. No partner needed!</p>
  <p>Instant lessons:</p>
  <ol>
    <li>Moving with music</li>
    <li>Footwork</li>
    <li>Breathing</li>
    <li>Body softening</li>
    <li>High-bandwidth learning</li>
    <li>Musicality</li>
  </ol>
  <div class="youtube-carousel4">
    <button class="youtube-carousel-prev">&lt;</button>
    <div class="carousel-item carousel-item-active">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/JJPpgGyOvP8?si=8m0ndI_hVSpzucfq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="carousel-item">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/cgg3v0QYC4U?si=OtGN_cGX-ALa6eC5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="carousel-item">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/QXfnhzv1yrM?si=OpKHKzSQeGFRIB-n" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="carousel-item">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Opf6X7DehBI?si=_bzPL4ZyK2xsTcnB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="carousel-item">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ercIZ5BDjBw?si=6GFQwtG6Xe4YlxkH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="carousel-item">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/QYgEVniTqfQ?si=aP7ZGAPDqm_chO_k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <button class="youtube-carousel-next">&gt;</button>
  </div>
</article>
<article class="content" id="learning-lab-format">
  <h1>The Learning Lab Teaching Format</h1>
  <p><strong>Currently in the group class format:</strong> We are paving the way to develop a community of dancers at different levels. Once we’ve built that, we’ll convert to the learning lab format like we’ve done for Argentine Tango.</p>
    <p><strong>A structured approach:</strong> Unlike typical peer-to-peer learning experiences where peers are often unsure on what to do, the learning lab format is structured to be productive. The asymmetric pairing of a more beginning with a more advanced student means that the mentor takes charge and knows where to go. A curriculum designed for bite-sized, progressive mini-lessons provides a clear path forward.</p>
    <p><strong>Teaching as Learning:</strong> Why teach without compensation? It's simple - teaching is an integral part of your learning journey. Articulating concepts, answering questions, and addressing learners' challenges enriches your understanding and enhances self-esteem as you contribute to others' growth.</p>
    <p><strong>Addressing Accuracy Concerns:</strong> Worried about learning incorrect techniques? Our mini-lessons have clearly defined, tangible goals. Achieving these goals is a mutual indicator of successful learning. Moreover, both students and mentors have access to uniform teaching notes and resources through our companion app, ensuring consistency and accuracy in teaching.</p>
    <p><strong>Supported by a Dedicated App:</strong> To enhance the Learning Lab experience, our app houses the curriculum, lesson videos, and tracks your progress. It's a handy tool for communication and determining your next learning steps. Explore it here: <a href="https://learninglab.fans">learninglab.fans</a><</p>
  <div class="youtube-container">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/46AGEleYsc4?si=dIvq6aIO1jkp1_xJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</article>
</article>
<article class="content" id="thomas">
  <h1>About Thomas</h1>
  <p>Thomas was not born a natural dancer. In fact, with a software engineering mindset that considered the body merely a mechanism to transport the brain around and a fractured/fused cervical spine, he started his dance journey on the opposite end.</p>
  <p>Yet he has discovered the joy of feeling the music, discovering the delight of moving the body, letting emotions take over the movement, and accessing a much deeper and richer way of being by embracing the whole human experience.</p>
  <p>There were many obstacles to overcome and are still ahead. His joy in teaching comes from supporting students pass those hurdles. For example, when a new dancer takes the first creative risks to inject their own ideas into the dance, they often feel timid about making a mistake or looking awkward. Yet when the do it, they have these big smiles.</p>
  <p>If you need to know stats. About six years ago, I co-developed the learning lab with Mitra Martin for Argenine Tango, which is still running in Los Angeles multiple days a week. About a year ago, he started teaching the learning labs for sensual bachata and acroyoga. They are still being taught in the traditional format and have to build a more diverse community of recurring students before converting to the learning lab format. He also took the sensual bachata instructor training with Sensual Movement.</p>
  <div class="youtube-container">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/uhoWM9gGJb0?si=P-0JjQ4XDs12zMkL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</article>
<article class="site-info">
  <p><a href="terms.html">Terms of Use</a> - <a href="privacy-policy.html">Privacy Policy</a></p>
  <p>Contact: <a href="mailto:thomas@learninglab.fans">thomas@learninglab.fans</a></p>
  <p>(C) 2024 Thomas Fischer</p>
</article>
<div class="header-bar">
  <div class="header-nav">
    <div class="navigation">
      <div class="navigation-toggle"> <span class="bar"></span> <span class="bar"></span> <span class="bar"></span> </div>
      <nav class="navigation-menu">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#benefits">Benefits</a></li>
          <li><a href="#philosophy">Teaching Philosophy</a></li>
          <li><a href="#bachata">What is Sensual Bachata?</a></li>
          <li><a href="#first-class">What Is The First Class Like?</a></li>
          <li><a href="#sign-up">Sign-Up Today!</a></li>
          <li><a href="#curriculum">Curriculum</a></li>
          <li><a href="#learn-now">Learn Bachata Right Now!</a></li>
          <li><a href="#neuroscience">Neuroscience-Based Teaching</a></li>
          <li><a href="#learning-lab-format">Learning Lab Format</a></li>
          <li><a href="#thomas">About Thomas</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="header-text">
    <h2><img src="images/plain-learning-lab-logo.svg" class="logo"/><b style="letter-spacing: .1em;">Sensual Bachata</b> learning lab</h2>
  </div>
  <div class="header-placeholder">.</div>
</div>
<div class="action-bar">
  <div class="action-bar-placeholder">.</div>
  <div class="action-bar-usp">
    <h2>Beyond Steps:<br/>
      Learn Bachata Technique,<br/>
      Dance with Feeling.</h2>
  </div>
  <div class="action-bar-button">
    <div><a href="https://www.instagram.com/sensualbachatalabnyc/"><img class="insta-icon" src="images/Instagram_Glyph_Black.png" alt="instagram logo" onmouseover="this.src='images/Instagram_Glyph_Gradient.png';" onmouseout="this.src='images/Instagram_Glyph_Black.png';"/></a> </div>
    <div>
      <form method="get" action="https://www.eventbrite.com/e/sensual-bachata-learning-lab-tickets-512528475467?aff=oddtdtcreator">
        <input class="pillboxButton" type="submit" value="Sign up!"/>
      </form>
    </div>
  </div>
</div>
</body>
<script src="javascript/navigation.js"></script>
</html>
