<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Sensual Bachata Learning Lab</title> <!-- Fix before going live! -->
<link rel="stylesheet" type="text/css" href="css/main.css?23d5f55fd6f4"/>
	
<!-- Remove these before going live. -->
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
	
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
	
<script type="application/javascript">
window.onload = function() {
	syncAllElements();
};

window.onresize = function() {
    syncAllElements();
};

function syncAllElements() {
//	syncElementWidth('.header-nav', '.header-placeholder');
//	syncElementWidth('.action-bar-button', '.action-bar-placeholder');
	
	// Sync header height to top padding.
	var headerBarHeight = document.querySelector('.header-bar').offsetHeight;
	var footerBarHeight = document.querySelector('.action-bar').offsetHeight;
	var contentDivs = document.querySelectorAll('.content');
	
	contentDivs.forEach(contentDiv => {
		contentDiv.style.paddingTop = headerBarHeight + 'px';
		contentDiv.style.paddingBottom = footerBarHeight + 'px';
	});
}	
	
function syncElementWidth(srcElementCss, targetElementCss) {
    var child1 = document.querySelector(srcElementCss);
    var placeholder = document.querySelector(targetElementCss);

    placeholder.style.width = child1.offsetWidth + 'px';
}
</script>
</head>

<body>
<article class="content" id="home">
  <h1>Welcome</h1>
  <div class="youtube-container">
    <iframe src="https://www.youtube.com/embed/ER1Ckr00ynQ?si=b7LNub7Y1Z9ncht5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</article>
<article class="content" id="benefits">
  <h1>Benefits</h1>
  <h2>Great fun</h2>
  <p>asdfadsfads asdf asdf adsf </p>
  <img class="content-image" src="images/unsplash.jpg" style="height: 100px"/> </article>
<div class="header-bar">
  <div class="header-nav">
    <div class="navigation">
      <div class="navigation-toggle"> <span class="bar"></span> <span class="bar"></span> <span class="bar"></span> </div>
      <nav class="navigation-menu">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#benefits">Benefits</a></li>
          <li><a href="#section3">First Time Experience</a></li>
          <li><a href="#section4">Sensual Bachata</a></li>
          <li><a href="#section5">Teaching Philosophy</a></li>
          <li><a href="#section6">About Thomas</a></li>
          <li><a href="#section7">About Learning Labs</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="header-text">
    <h2>Sensual Bachata Learning Lab</h2>
  </div>
  <div class="header-placeholder">.</div>
</div>
<div class="action-bar">
  <div class="action-bar-placeholder">.</div>
  <div class="action-bar-usp">
    <h2>Beyond Steps:<br/>Learn Bachata Technique,<br/>Dance with Feeling.</h2>
  </div>
  <div class="action-bar-button"> 
	  <div><a href="https://www.instagram.com/sensualbachatalabnyc/"><img class="insta-icon" src="images/Instagram_Glyph_Black.png" alt="instagram logo" onmouseover="this.src='images/Instagram_Glyph_Gradient.png';" onmouseout="this.src='images/Instagram_Glyph_Black.png';"/></a>
	  </div><div>
    <form method="get" action="https://eventbrite.com">
      <input class="pillboxButton" type="button" value="Sign up!"/>
    </form>
		  </div>
  </div>
</div>
</body>
<script src="javascript/navigation.js"></script>
</html>
